.main{
  text-align: center;
}
.First{
  color: blue;
}
.button1{
  margin: 30px;
  padding: 10px;
  border: black solid 2px;
  border-radius: 20px;
}
.button2{
  margin: 30px;
  padding: 10px;
  border: black solid 2px;
  border-radius: 20px;
}
.button1:hover{
  background-color: red;
}
.button2:hover{
  background-color: red;
}
